[submodule "dependencies/spdlog"]
	path = dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "dependencies/cxxopts"]
	path = dependencies/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "dependencies/json"]
	path = dependencies/json
	url = https://github.com/nlohmann/json.git
